################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ImageClicker/v15
/.vs/ImageClicker/DesignTimeBuild
/.vs/config
